.pydevproject
.project
*.pyc
/franklin.egg-info
_build
/dist
test/backbone/formatdb.log
.settings
doc/ngs_backbone/downloads
test/backbone/error.log
build/
scripts/notofranklin/
ext/bin/linux/64bit/.libs/
manual.man
_build/html
test/scripts/clean_reads.error
